body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.jobAdvertisements{
  
  margin: 80px;
}

<<<<<<< HEAD
p{
  color: red;
}

=======
>>>>>>> 602d9736ef6ac101c77950771f629b31b1d1b269
/* .employeeCv{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */
